*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    color: black;
    padding: 5px 13px;
}
.navbar_left{
    font-size: x-large;

}
.navbar_right {
    display: flex;
    gap: 30px;
    text-decoration: none;
  }
    



#btn:hover{
    color: blue;
    background-color: antiquewhite;

}

